body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-header h2 {
    margin: 0;
}

pre {
    white-space: pre-wrap; /* Permite el ajuste de líneas largas */
}

footer {
    position: relative;
    width: 100%;
    bottom: 0;
}
